.hero {
  position: relative;
  width: 100%;
  height: 600px; 
  background-image: url('/crown-thorns.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  overflow: hidden;
}



.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.textCard {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  font-size: 1.2rem;
  line-height: 1.6;
  color: #171717;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    height: 500px;
    padding: 0 1rem;
    justify-content: center;
  }

  .textCard {
    max-width: 90%;
    padding: 1.5rem;
  }

}